<div class="container">
	<div class="row text-center">
		<ul class="list-inline list-unstyled">
			<li><a href="https://github.com/robksawyer/preciousplastic-motortool" title="The source is available on Github" target="_blank"><i class="fa fa-github fa-2x"></i></a></li>
			<li><a href="/terms" title="Terms &amp; Conditions">Terms</a></li>
		</ul>
	</div>
</div>
