body{
	font-family: 'Varela Round', sans-serif;
}
.jumbotron {
	background: #B7D6E3;
	color: #FFFFFF;
	padding-bottom: 80px;
}
.jumbotron .logo{
	width:250px;
}
.jumbotron .btn-primary {
	background: #FFD87D;
	border: none;
}
.jumbotron .btn-primary:hover {
	background: #d5b879;
}
.jumbotron p {
	color: #FFFFFF;
	max-width: 75%;
	margin: 1em auto 2em;
}
.navbar+ .jumbotron {
	margin-top: -20px;
}
.jumbotron .lang-logo {
	display: block;
	background: #FFD87D;
	border-radius: 50%;
	overflow: hidden;
	width: 100px;
	height: 100px;
	margin: auto;
	border: 2px solid white;
}
.jumbotron .lang-logo img {
	max-width: 100%;
}
