<!DOCTYPE html>
<html>
	<head>
		<% include ../partials/header.ejs %>
	</head>

	<body>
		<%- include ../partials/nav.ejs %>

		<div class="jumbotron text-center">
			<div class="container">
				<img src="flag_color_logo_500x500.png" alt="" class="logo"/>
				<h1>
					Welcome to the <br/>Precious Plastic Motor Tool
				</h1>
				<p class="lead">We realize that finding the perfect motor for your Precious Plastic machine is not the most intuitive thing. But hopefully this tool will help you figure out if that motor you found on eBay or at the scrapyard will actually work.</p>

			</div>
		</div>
		<div class="container">
			<div class="row text-center">
				<h2>Start your engine...</h2>
				<p class="lead">Just enter the motor criteria requested below, cross your fingers and then submit.</p>
			</div>

			<div class="row">
				<form id="motorForm" name="motorTool" action="/results" method="post" enctype="application/x-www-form-urlencoded" data-toggle="validator" role="form">

					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title"><i class="fa fa-flag"></i> Shop Properties</h1>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="optionsShopVoltage">Outlet Voltage</label>
								<div class="radio">
									<label>
										<input type="radio" name="optionsShopVoltage" id="optionsShopVoltageUnknown" value="0" checked required>
										N/A
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsShopVoltage" id="optionsShopVoltage110" value="110">
										110 Volts
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsShopVoltage" id="optionsShopVoltage120" value="120">
										120 Volts
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsShopVoltage" id="optionsShopVoltage220" value="220">
										220 Volts
									</label>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title"><i class="fa fa-wrench"></i> Motor Properties</h1>
						</div>

						<div class="panel-body">
							<div class="form-group">
								<label for="inputBrand">Brand</label>
								<div class="input-group col-sm-6">
									<input type="text" class="form-control" name="inputBrand" id="inputBrand" placeholder="" />
								</div>
							</div>
							<div class="form-group">
								<label for="inputMotorVoltage">Motor Voltage</label>
								<div class="input-group col-sm-3">
									<input type="number" min="0" class="form-control" name="inputMotorVoltage" id="inputMotorVoltage" placeholder="120" required>
									<div class="input-group-addon">Volts</div>
								</div>
							</div>
							<div class="form-group">
								<label for="optionsPhase">Motor Phase</label>
								<div class="radio">
									<label>
										<input type="radio" name="optionsPhase" id="optionsPhaseUnknown" value="0" checked required>
										N/A
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsPhase" id="optionsPhase1" value="1">
										Monophase (Single Phase)
									</label>
								</div>
								<div class="radio">
									<label>
										<input type="radio" name="optionsPhase" id="optionsPhase3" value="3">
										Triphase (Three Phase)
									</label>
								</div>
								<p class="help-block">You can read more about motor phases on the <a href="http://www.preciousplasticwiki.com" target="_blank">Precious Plastic Wiki</a> and in the <a href="http://www.preciousplasticwiki.com/index.php?title=Definitive_Motor_Guide#Triphase_.283_Phase.29_or_Monophase_.28Single_Phase.29_Motors.3F" target="_blank">Definitive Motor Guide</a>.</p>
							</div>
							<div class="form-group">
								<label for="inputRPM">Revolutions Per Minute (RPM)</label>
								<div class="input-group col-sm-3">
									<input type="number" min="0" class="form-control" name="inputRPM" id="inputRPM" placeholder="1400" required>
									<div class="input-group-addon">RPM</div>
								</div>
								<p class="help-block">Listed in Hz? Use <a href="http://www.convertunits.com/from/RPM/to/hertz" target="_blank">this converter</a> to get it to RPM. Also note that 60 RPM equals 1 Hz.</p>
							</div>
							<div class="form-group">
								<label for="inputPower">Power (kW – Kilowatts)</label>
								<div class="input-group col-sm-3">
									<input type="number" min="0" step="0.1" class="form-control" name="inputPower" id="inputPower" placeholder="1.5" required>
									<div class="input-group-addon">kW</div>
								</div>
								<p class="help-block">Listed as HP (Horsepower)? Use <a href="https://www.google.com/search?q=1+hp+in+kw" target="_blank">this converter</a> to get it kW. Also note that 2 HP is approximately equal to 1.5 kW.</p>
							</div>
							<div class="form-group">
								<label for="inputTorque">Torque (in N m – Newton meters)</label>
								<div class="input-group col-sm-3">
									<input type="number" min="0" class="form-control" name="inputTorque" id="inputTorque" placeholder="60" required>
									<div class="input-group-addon">N m</div>
								</div>
								<p class="help-block">Listed in another unit of measurement? Use <a href="http://www.numberfactory.com/nf_torque.html" target="_blank">this converter</a> to get it to Newton meters.</p>
							</div>
							<div class="form-group">
								<label for="inputAmps">Amps</label>
								<div class="input-group col-sm-2">
									<input type="number" class="form-control" name="inputAmps" id="inputAmps" min="0" step="0.1" placeholder="6.81" required>
									<div class="input-group-addon">Amps</div>
								</div>
								<div class="bs-callout bs-callout-warning">
									<h4>Note</h4>
									<p class="help-block">You shouldn't use the amps on a motor to pick one out. Instead, use the motor power, speed, and torque. The amps listed on a motor nameplate (Full Load Amps, or FLA) tell you what the maximum current the motor will use in a fully loaded condition. Use this number to design your electrical system, circuit breakers and fuses, etc.</p>
								</div>
							</div>
						</div>
					</div>

					<div class="panel panel-default">
						<div class="panel-heading">
							<h1 class="panel-title"><i class="fa fa-cogs"></i> Gearbox Properties</h1>
						</div>
						<div class="panel-body">
							<div class="form-group">
								<label for="inputGearRatioA">Gearbox Reducer Ratio (i)</label>
								<div class="row">
									<div class="col-xs-3 col-sm-1 col-lg-1">
										<input type="text" class="form-control" name="inputGearRatioA" id="inputGearRatioA" placeholder="1" required>
									</div>
									<div class="col-xs-1 text-center padding-0 width-2px">
										<span>:</span>
									</div>
									<div class="col-xs-3 col-sm-1 col-lg-1">
										<input type="text" class="form-control" name="inputGearRatioB" id="inputGearRatioB" placeholder="20" required>
									</div>
								</div>
							</div>
							<div class="form-group">
								<label for="inputGearServiceFactor">Gearbox Service Factor (s)</label>
								<div class="input-group col-sm-2">
									<input type="number" class="form-control" min="0" step="0.1" name="inputGearServiceFactor" id="inputGearServiceFactor" placeholder="1.2">
								</div>
								<p class="help-block">See the wiki <a href="http://www.preciousplasticwiki.com/index.php?title=Definitive_Motor_Guide#How_do_motor_reducer_gearboxes_work_and_how_can_I_choose_the_right_one">FAQ on gearboxes</a>.</p>
							</div>
							<div class="form-group">
								<label for="inputGearServiceClass">Gearbox Service Class</label>
								<div class="input-group col-sm-2">
									<input type="text" class="form-control" name="inputGearServiceClass" id="inputGearServiceClass" placeholder="I">
								</div>
								<p class="help-block">This is likely to be a roman numeral. See the wiki <a href="http://www.preciousplasticwiki.com/index.php?title=Definitive_Motor_Guide#How_do_motor_reducer_gearboxes_work_and_how_can_I_choose_the_right_one">FAQ on gearboxes</a>.</p>
							</div>
						</div>
					</div>
					<div class="form-group clearfix">
						<button type="reset" class="btn btn-default btn-large">Reset</button>
						<button type="submit" class="btn btn-primary btn-large">Will it work?</button>
					</div>
				</form>
			</div>
		</div>
		<hr/>
		<div id="help" class="container" style="min-height: 200px">
			<div class="row">
				<h2>Help</h2>
				<p>Not quite sure what's being asked here. Try hopping over to the <a href="http://www.preciousplasticwiki.com/" target="_blank">Precious Plastic Wiki</a> and reading a bit of the <a href="http://www.preciousplasticwiki.com/index.php?title=Definitive_Motor_Guide" target="_blank">Definitive Motor Guide</a></p>
			</div>
		</div>

		<footer class="footer">
			<% include ../partials/footer %>
		</footer>
	</body>
</html>
